<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optionsmoneymaker.optionsmoneymakerbeta">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required permission to check licensing. -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".OptionMoneyMaker"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <!--<meta-data-->
        <!--android:name="com.onesignal.NotificationOpened.DEFAULT"-->
        <!--android:value="DISABLE" />-->

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--<service-->
        <!--android:name=".NotificationExtender"-->
        <!--android:exported="false"-->
        <!--android:permission="android.permission.BIND_JOB_SERVICE">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.onesignal.NotificationExtender" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <service android:name=".utils.FBMessgingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".utils.FBInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_static_notif" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/textColorPrimary" />


    </application>

</manifest>
